/* style.css */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

h1 {
    color: slateblue;
    text-align: center;
}

p {
    color: darkgreen;
    font-size: 15px;
}